body div {
  border: 1px solid black;
}


#create-issue #enter {
  width: 50%;
  float: left;
}

#create-issue #enter input#title {
  width: 100%;;
  padding: 2px;
}

#create-issue #enter textarea#body {
  width: 100%;
  height: 400px;
  padding: 2px;
}

#create-issue #search {
  width: 50%;
  float: right;
  background-color: #ccc;
}
